.maindiv1 {
  background-color: gray;
  width: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
}

.fullname {
  color: white;
  font-size: 24px;
  margin: 5px;
}

.languages {
  color: wheat;
  margin: 10px;
  font-weight: normal;
}
.admininfo {
  color: yellow;
  text-decoration: underline;
}

.admin {
  background-color: yellow;
  border: 2px solid black;
}

.buttonIncele {
  padding: 6px 25px;
  margin: 6px 10px;
}

.redButton {
  background-color: red;
  color: white;
}
