.baslik {
  text-align: center;
  font-size: 40px;
  color: #183d3d;
}

nav {
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  background-color: #183d3d;
  color: white;
  padding: 5px;
  margin: 10px 10px;
  border-radius: 10px;
  user-select: none;
}

nav ul li a:hover {
  background-color: #455252;
  color: white;
}

footer {
  color: white;
  background-color: #183d3d;
}

footer h4 {
  color: white;
  text-align: center;
  font-size: 34px;
}

.footermain {
  display: flex;
}

.linkler {
  text-align: center;
  flex: 0.5;
}

.sosyalmedya {
  text-align: center;
  flex: 0.5;
}
