.body {
  background-color: green;
  display: inline;
  padding: 6px 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px black;
  cursor: pointer;
  /* border-width: 0.1px;
  border-style: solid;
  border-color: white; */

  margin: 10px;
}

.text {
  color: white;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}
