h1 {
  color: red;

  display: inline;
  text-align: center;
}

.div-ana {
  height: 100px;
  background-color: red;
  display: block;
}

.div-1 {
  background-color: green;
  padding: 10px;
}

.div-2 {
  height: 50px;
  width: 100px;
  background-color: yellow;
  display: inline;
}
