body {
  background-color: aliceblue;
}

#baslikH1 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
  color: red;
}

.form1 {
  text-align: center;
}

.form1 input {
  text-align: center;
}

#button1 {
  color: white;
  background-color: green;
}
